n8n-workflow/workflow-decidento-hubspot.json
{
  "updatedAt": "2026-03-19T16:29:00.252Z",
  "createdAt": "2026-03-05T10:36:42.170Z",
  "id": "slEyspRFX77Y31R4",
  "name": "[Formaxe] Decidento → HubSpot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "decidento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1a1a1a1-0001-4000-8000-000000000001",
      "name": "Webhook Decidento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        336
      ],
      "webhookId": "100c15f6-3a8a-4d5f-9e70-b27011d1c1aa"
    },
    {
      "parameters": {
        "jsCode": "// Nettoyer le nom d'entreprise (retirer \\n et espaces multiples)\nfunction cleanStr(s) {\n  if (!s) return '';\n  return s.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst body = $input.first().json.body;\nconst contact = body.contact || {};\nconst company = body.company || {};\n\n// Utiliser firstname/lastname envoyés par l'extension (champs éditables)\nconst firstname = cleanStr(contact.firstname || '');\nconst lastname = cleanStr(contact.lastname || '');\n\nconst statusMap = {\n  'Message vocal laissé': 'message_vocal_laisse',\n  'Injoignable': 'injoignable',\n  'Rendez-vous pris': 'rendez_vous_pris',\n  'Ne plus rappeler': 'ne_plus_rappeler',\n  'Déjà appelé': 'deja_appele',\n  'Pas intéressé': 'pas_interesse',\n  'Déjà en partenariat': 'deja_en_partenariat',\n  'A raccroché': 'a_raccroche',\n  'Pas de besoin immédiat - rappel': 'pas_de_besoin_immediat_rappel'\n};\n\nconst stageMap = {\n  'Message vocal laissé': '4978411760',\n  'Injoignable': '4978411760',\n  'Rendez-vous pris': '4978411762',\n  'Ne plus rappeler': '4978411766',\n  'Déjà appelé': '4978411761',\n  'Pas intéressé': '4978411766',\n  'Déjà en partenariat': '4978411766',\n  'A raccroché': '4978411760',\n  'Pas de besoin immédiat - rappel': '4978411760'\n};\n\nfunction toSnakeCase(name) {\n  return (name || '').trim().toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '_').replace(/^_|_$/g, '');\n}\n\nreturn [{\n  json: {\n    contact_firstname: firstname,\n    contact_lastname: lastname,\n    contact_email: contact.email || '',\n    contact_phone: contact.phone || '',\n    contact_position: cleanStr(contact.position || ''),\n    contact_title_tag: contact.title_tag || '',\n    contact_linkedin: contact.linkedin_url || '',\n    contact_address: contact.address || '',\n    notes: body.notes || '',\n    company_name: cleanStr(company.name || ''),\n    company_address: company.address || '',\n    company_phone: company.phone || '',\n    company_website: company.website || '',\n    siren: company.siren || '',\n    siret: company.siret || '',\n    type_entreprise: company.type_entreprise || '',\n    effectif: company.effectif || '',\n    chiffre_affaires: company.chiffre_affaires || '',\n    capital_social: company.capital_social || '',\n    forme_juridique: company.forme_juridique || '',\n    numero_tva: company.numero_tva || '',\n    convention_collective: company.convention_collective || '',\n    status_raw: body.status || '',\n    status_enum: statusMap[body.status] || toSnakeCase(body.status),\n    pipeline_stage_id: stageMap[body.status] || '4978411759',\n    commercial_raw: body.commercial || '',\n    commercial_enum: toSnakeCase(body.commercial),\n    source_url: body.source_url || '',\n    timestamp: body.timestamp || new Date().toISOString(),\n    decidento_contact_id: body.decidento_contact_id || '',\n    rdv_date: body.rdv_date || '',\n    send_confirmation_email: body.send_confirmation_email || false,\n    send_offer_email: body.send_offer_email || false,\n    send_appel_sans_reponse: body.send_appel_sans_reponse || false,\n    email_template: body.email_template || '',\n    offer_brochure: body.offer_brochure || '',\n    rappel_date: body.rappel_date || '',\n    rappel_delai: body.rappel_delai || ''\n  }\n}];"
      },
      "id": "d1a1a1a1-0002-4000-8000-000000000002",
      "name": "Préparer les données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        336
      ]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/owners",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0012-4000-8000-000000000012",
      "name": "Chercher owners HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Résoudre le owner ID dynamiquement depuis la liste des owners HubSpot\nconst data = $('Préparer les données').first().json;\nconst ownersResponse = $('Chercher owners HubSpot').first().json;\nconst owners = (ownersResponse.body && ownersResponse.body.results) || [];\nconst commercialName = data.commercial_raw || '';\n\n// Chercher le owner par nom (prénom + nom)\nlet ownerId = '';\nif (commercialName) {\n  const normalizedSearch = commercialName.toLowerCase().trim();\n  const match = owners.find(o => {\n    const fullName = ((o.firstName || '') + ' ' + (o.lastName || '')).toLowerCase().trim();\n    return fullName === normalizedSearch;\n  });\n  if (match) {\n    ownerId = match.id || '';\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    owner_id: ownerId\n  }\n}];"
      },
      "id": "d1a1a1a1-0013-4000-8000-000000000013",
      "name": "Résoudre owner ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'siren', operator: 'EQ', value: $json.siren }] }], properties: ['name', 'siren'], limit: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0003-4000-8000-000000000003",
      "name": "Chercher entreprise par SIREN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-total",
              "leftValue": "={{ $json.body.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "d1a1a1a1-0004-4000-8000-000000000004",
      "name": "Entreprise existe ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1376,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cid-existing",
              "name": "company_id",
              "value": "={{ $json.body.results[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a1a1a1-0005-4000-8000-000000000005",
      "name": "ID entreprise existante",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Résoudre owner ID').item.json; const props = { name: d.company_name, phone: d.company_phone, website: d.company_website, address: d.company_address, siren: d.siren, siret_siege: d.siret, type_entreprise: d.type_entreprise, numero_tva: d.numero_tva, capital_social: d.capital_social, forme_juridique: d.forme_juridique, ca_decidento: d.chiffre_affaires, effectif_decidento: d.effectif, convention_collective: d.convention_collective, source_decidento_url: d.source_url }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0006-4000-8000-000000000006",
      "name": "Créer entreprise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cid-new",
              "name": "company_id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a1a1a1-0007-4000-8000-000000000007",
      "name": "ID nouvelle entreprise",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge : récupérer le company_id quel que soit le chemin (existante ou nouvelle)\nconst data = $('Résoudre owner ID').first().json;\n\nlet companyId = '';\ntry { companyId = $('ID entreprise existante').first().json.company_id; } catch(e) {}\nif (!companyId) {\n  try { companyId = $('ID nouvelle entreprise').first().json.company_id; } catch(e) {}\n}\n\nreturn [{ json: { ...data, company_id: companyId } }];"
      },
      "id": "d1a1a1a1-0008-4000-8000-000000000008",
      "name": "Fusionner company_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'decidento_contact_id', operator: 'EQ', value: $json.decidento_contact_id }] }], properties: ['firstname', 'lastname', 'decidento_contact_id', 'statut_prospection_decidento'], limit: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0020-4000-8000-000000000020",
      "name": "Chercher contact existant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-contact-total",
              "leftValue": "={{ $json.body.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "d1a1a1a1-0021-4000-8000-000000000021",
      "name": "Contact existe ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2496,
        336
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.body.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Fusionner company_id').first().json; const props = { firstname: d.contact_firstname, lastname: d.contact_lastname, jobtitle: d.contact_position, address: d.contact_address, titre_decidento: d.contact_title_tag, statut_prospection_decidento: d.status_enum, commercial_decidento: d.commercial_enum, source_decidento_url: d.source_url, decidento_contact_id: d.decidento_contact_id }; if (d.contact_phone) props.phone = d.contact_phone; if (d.contact_linkedin) props.hs_linkedin_url = d.contact_linkedin; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0022-4000-8000-000000000022",
      "name": "Mettre à jour contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Fusionner company_id').first().json; const props = { firstname: d.contact_firstname, lastname: d.contact_lastname, jobtitle: d.contact_position, address: d.contact_address, titre_decidento: d.contact_title_tag, statut_prospection_decidento: d.status_enum, commercial_decidento: d.commercial_enum, source_decidento_url: d.source_url, decidento_contact_id: d.decidento_contact_id }; if (d.contact_email) props.email = d.contact_email; if (d.contact_phone) props.phone = d.contact_phone; if (d.contact_linkedin) props.hs_linkedin_url = d.contact_linkedin; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0023-4000-8000-000000000023",
      "name": "Créer contact HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le contact_id quel que soit le chemin (update ou create)\nconst data = $('Fusionner company_id').first().json;\n\nlet contactId = '';\nlet action = '';\ntry {\n  contactId = $('Mettre à jour contact').first().json.body.id;\n  action = 'updated';\n} catch(e) {}\nif (!contactId) {\n  try {\n    contactId = $('Créer contact HubSpot').first().json.body.id;\n    action = 'created';\n  } catch(e) {}\n}\n\nreturn [{ json: { ...data, contact_id: contactId, contact_action: action } }];"
      },
      "id": "d1a1a1a1-0024-4000-8000-000000000024",
      "name": "Fusionner contact_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        336
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.hubapi.com/crm/v4/objects/contacts/' + $json.contact_id + '/associations/companies/' + $json.company_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[{\"associationCategory\": \"HUBSPOT_DEFINED\", \"associationTypeId\": 279}]",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0010-4000-8000-000000000010",
      "name": "Associer contact ↔ entreprise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const dealname = (d.contact_firstname + ' ' + d.contact_lastname).trim() + ' — ' + (d.company_name || ''); const props = { dealname: dealname, pipeline: '3625113819', dealstage: d.pipeline_stage_id || '4978411759' }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; const associations = []; if (d.contact_id) associations.push({ to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 3 }] }); if (d.company_id) associations.push({ to: { id: parseInt(d.company_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 341 }] }); return JSON.stringify({ properties: props, associations: associations }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0040-4000-8000-000000000040",
      "name": "Créer Deal Prospection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-notes",
              "leftValue": "={{ $('Fusionner contact_id').first().json.notes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "d1a1a1a1-0030-4000-8000-000000000030",
      "name": "Notes présentes ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3616,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const statusLabel = d.status_raw || ''; const commercial = d.commercial_raw || ''; const ts = d.timestamp ? new Date(d.timestamp).toLocaleString('fr-FR') : ''; const header = '📞 Appel Decidento — ' + statusLabel; const meta = []; if (commercial) meta.push('Commercial : ' + commercial); if (ts) meta.push('Date : ' + ts); const body = header + '\\n' + meta.join(' | ') + '\\n\\n' + d.notes; return JSON.stringify({ properties: { hs_note_body: body, hs_timestamp: d.timestamp || new Date().toISOString() }, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 202 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 214 }] }] }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0031-4000-8000-000000000031",
      "name": "Créer note HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-reminder-task",
              "leftValue": "={{ ['message_vocal_laisse', 'injoignable', 'pas_de_besoin_immediat_rappel'].includes($('Fusionner contact_id').first().json.status_enum) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "d1a1a1a1-0041-4000-8000-000000000041",
      "name": "Tâche rappel ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4064,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const d = $('Fusionner contact_id').first().json;\n  const isRappelProspect = d.status_enum === 'pas_de_besoin_immediat_rappel';\n  \n  // Calculer la date d'échéance\n  let dueDate;\n  if (isRappelProspect && d.rappel_date) {\n    dueDate = new Date(d.rappel_date + 'T09:00:00');\n  } else {\n    dueDate = new Date();\n    dueDate.setDate(dueDate.getDate() + 3);\n  }\n  \n  // Sujet de la tâche\n  const subject = isRappelProspect\n    ? 'Recontacter ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')'\n    : 'Rappeler ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')';\n  \n  // Corps contextuel\n  let body = '';\n  const dateAppel = new Date(d.timestamp).toLocaleDateString('fr-FR');\n  if (isRappelProspect) {\n    body = 'Prospect contacté le ' + dateAppel + ' — Statut : Pas de besoin immédiat.\\n';\n    body += 'Le prospect a indiqué ne pas avoir de besoin dans l\\'immédiat.\\n';\n    if (d.notes) body += '\\nNotes de l\\'appel :\\n' + d.notes + '\\n';\n    body += '\\nAction : Recontacter pour vérifier si un besoin s\\'est créé depuis.';\n    if (d.rappel_delai && d.rappel_delai !== 'custom') body += '\\nDélai prévu : ' + d.rappel_delai + ' mois.';\n  } else {\n    body = 'Rappel automatique suite au statut : ' + d.status_raw + '\\n';\n    body += 'Contact envoyé depuis Decidento le ' + dateAppel;\n    if (d.notes) body += '\\n\\nNotes : ' + d.notes;\n  }\n  \n  const props = {\n    hs_task_subject: subject,\n    hs_task_body: body,\n    hs_task_status: 'NOT_STARTED',\n    hs_task_priority: isRappelProspect ? 'HIGH' : 'MEDIUM',\n    hs_timestamp: dueDate.toISOString()\n  };\n  if (d.owner_id) props.hubspot_owner_id = d.owner_id;\n  \n  const associations = [\n    { to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }\n  ];\n  \n  try {\n    const dealId = $('Créer Deal Prospection').first().json.body.id;\n    if (dealId) associations.push({ to: { id: parseInt(dealId) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 216 }] });\n  } catch(e) {}\n  \n  return JSON.stringify({ properties: props, associations: associations });\n})() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0042-4000-8000-000000000042",
      "name": "Créer tâche rappel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4288,
        272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-rdv-task",
              "leftValue": "={{ $('Fusionner contact_id').first().json.rdv_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "d1a1a1a1-0043-4000-8000-000000000043",
      "name": "RDV tâche ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4512,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const rdvDate = new Date(d.rdv_date); const props = { hs_task_subject: 'RDV avec ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')', hs_task_body: 'Rendez-vous planifié depuis Decidento\\nDate : ' + rdvDate.toLocaleString('fr-FR') + '\\nCommercial : ' + d.commercial_raw, hs_task_status: 'NOT_STARTED', hs_task_priority: 'HIGH', hs_timestamp: rdvDate.toISOString() }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props, associations: [{ to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 216 }] }] }); })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1a1a1a1-0044-4000-8000-000000000044",
      "name": "Créer tâche RDV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4736,
        272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, contact_id: $json.contact_id, company_name: $json.company_name, deal_created: true, emails_sent: { confirmation: $json.send_confirmation_email, offer: $json.send_offer_email } }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d1a1a1a1-0011-4000-8000-000000000011",
      "name": "Répondre succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6976,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Récupérer l'URL de brochure résolue\nlet brochureUrl = '';\ntry {\n  brochureUrl = $('Résoudre URL brochure').first().json.brochure_url || '';\n} catch(e) { brochureUrl = ''; }\n\nconst item = $('Fusionner contact_id').first().json;\nconst firstname = item.contact_firstname || '';\nconst companyName = item.company_name || '';\nconst contactEmail = item.contact_email || '';\nconst contactId = item.contact_id || '';\nconst rdvDate = item.rdv_date || '';\nconst sendConfirmation = item.send_confirmation_email === true || item.send_confirmation_email === 'true';\nconst sendOffer = item.send_offer_email === true || item.send_offer_email === 'true';\nconst sendAppelSansReponse = item.send_appel_sans_reponse === true || item.send_appel_sans_reponse === 'true';\n\n// Format RDV date in French\nlet rdvDateFormatted = '';\nif (rdvDate) {\n  try {\n    const d = new Date(rdvDate);\n    const jours = ['dimanche','lundi','mardi','mercredi','jeudi','vendredi','samedi'];\n    const mois = ['janvier','février','mars','avril','mai','juin','juillet','août','septembre','octobre','novembre','décembre'];\n    rdvDateFormatted = jours[d.getDay()] + ' ' + d.getDate() + ' ' + mois[d.getMonth()] + ' ' + d.getFullYear() + ' à ' + d.getHours().toString().padStart(2,'0') + 'h' + d.getMinutes().toString().padStart(2,'0');\n  } catch(e) { rdvDateFormatted = rdvDate; }\n}\n\nconst rdvLine = rdvDateFormatted ? '<p>Pour rappel, notre rendez-vous est prévu le <b>' + rdvDateFormatted + '</b>.</p>\\n' : '';\nconst rdvLineText = rdvDateFormatted ? '\\nPour rappel, notre rendez-vous est prévu le ' + rdvDateFormatted + '.\\n' : '';\n\nconst signaturePlaceholder = '<div style=\"margin-top:24px;padding-top:16px;border-top:1px solid #dadce0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.5\"><b>%%COMMERCIAL_NAME%%</b><br>%%COMMERCIAL_TITLE%% | %%COMMERCIAL_COMPANY%%<br>%%COMMERCIAL_PHONE%%<br><a href=\"mailto:%%COMMERCIAL_EMAIL%%\" style=\"color:#1a73e8;text-decoration:none\">%%COMMERCIAL_EMAIL%%</a><br><a href=\"https://%%COMMERCIAL_WEBSITE%%\" style=\"color:#1a73e8;text-decoration:none\">%%COMMERCIAL_WEBSITE%%</a></div>';\n\nconst brochureLink = brochureUrl\n  ? '<p>Je vous joins une brochure pour vous donner une vue d\\'ensemble de notre approche :<br><a href=\"' + brochureUrl + '\" style=\"color:#1a73e8;text-decoration:none\">Télécharger la brochure</a></p>'\n  : '';\nconst brochureLinkText = brochureUrl\n  ? '\\nBrochure : ' + brochureUrl\n  : '';\n\n// =============================================\n// Email 1: Confirmation RDV + Présentation\n// =============================================\nconst email1_subject = \"Suite à notre échange — L'Atelier des Experts\";\nconst email1_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>Encore merci pour votre temps et pour la prise de rendez-vous.</p>' + rdvLine + '<p>Pour vous présenter brièvement notre approche à L\\'Atelier des Experts, nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire, tout en apportant un vrai levier de valeur à leurs clients, grâce à la formation professionnelle 100\\u00a0% financée.</p><p>Voici ce que nous mettons en place pour vous :</p><p>– Une conseillère formation dédiée pour vous accompagner tout au long du partenariat<br>– Le montage complet des dossiers, sans charge administrative pour vos équipes<br>– Un service de renouvellement annuel pour proposer chaque année de nouvelles formations à vos clients<br>– Une solution simple, fluide et entièrement prise en main de notre côté</p>' + brochureLink + '<p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email1_text = 'Bonjour ' + firstname + ',\\n\\nEncore merci pour votre temps et pour la prise de rendez-vous.' + rdvLineText + '\\nPour vous présenter brièvement notre approche à L\\'Atelier des Experts, nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire, tout en apportant un vrai levier de valeur à leurs clients, grâce à la formation professionnelle 100% financée.\\n\\nVoici ce que nous mettons en place pour vous :\\n\\n– Une conseillère formation dédiée\\n– Le montage complet des dossiers\\n– Un renouvellement annuel\\n– Une solution simple et fluide' + brochureLinkText + '\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\n// =============================================\n// Email 2: Présentation de l'offre (standalone)\n// =============================================\nconst email2_subject = \"L'Atelier des Experts — Présentation de notre offre\";\nconst email2_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>Suite à notre récent échange, je souhaitais vous présenter plus en détail notre offre à L\\'Atelier des Experts.</p><p>Nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire grâce à la formation professionnelle 100\\u00a0% financée.</p><p>Voici ce que nous mettons en place :</p><p>– Une conseillère formation dédiée<br>– Le montage complet des dossiers<br>– La prise en charge du financement OPCO<br>– Un renouvellement annuel automatique</p>' + brochureLink + '<p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email2_text = 'Bonjour ' + firstname + ',\\n\\nSuite à notre récent échange, je souhaitais vous présenter notre offre à L\\'Atelier des Experts.\\n\\nNous aidons les agences de communication à générer un CA supplémentaire grâce à la formation 100% financée.' + brochureLinkText + '\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\n// =============================================\n// Email 3: Appel sans réponse\n// =============================================\nconst email3_subject = \"J'ai tenté de vous joindre — L'Atelier des Experts\";\nconst email3_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>J\\'ai tenté de vous joindre ce jour par téléphone, malheureusement sans succès.</p><p>Je me permets de vous contacter car je souhaitais vous présenter <b>Stafy</b>, une solution développée par <b>L\\'Atelier des Experts</b> qui permet aux entreprises comme <b>' + companyName + '</b> de proposer à leurs clients des formations professionnelles 100\\u00a0% financées, tout en générant un chiffre d\\'affaires complémentaire.</p><p>En quelques mots, voici ce que nous mettons en place :</p><p>– Une conseillère formation dédiée pour accompagner vos clients de A à Z<br>– Le montage complet des dossiers de formation, sans charge pour vos équipes<br>– La prise en charge du financement auprès des OPCO<br>– Un renouvellement annuel pour fidéliser vos clients chaque année</p><p>Si le sujet vous intéresse, je serais ravi d\\'en discuter avec vous lors d\\'un court échange.<br><a href=\"%%BOOKING_URL%%\" style=\"color:#1a73e8;text-decoration:none\">Réserver un créneau</a></p><p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email3_text = 'Bonjour ' + firstname + ',\\n\\nJ\\'ai tenté de vous joindre ce jour par téléphone, malheureusement sans succès.\\n\\nJe me permets de vous contacter car je souhaitais vous présenter Stafy, une solution développée par L\\'Atelier des Experts qui permet aux entreprises comme ' + companyName + ' de proposer à leurs clients des formations 100% financées.\\n\\nEn quelques mots :\\n– Une conseillère formation dédiée\\n– Le montage complet des dossiers\\n– La prise en charge du financement OPCO\\n– Un renouvellement annuel\\n\\nRéserver un créneau : %%BOOKING_URL%%\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\nreturn [{\n  json: {\n    ...item,\n    email1_subject, email1_html, email1_text,\n    email2_subject, email2_html, email2_text,\n    email3_subject, email3_html, email3_text,\n    send_confirmation_email: sendConfirmation,\n    send_offer_email: sendOffer,\n    send_appel_sans_reponse: sendAppelSansReponse,\n    contact_email: contactEmail,\n    contact_firstname: firstname,\n    contact_id: contactId\n  }\n}];"
      },
      "name": "Préparer emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        336
      ],
      "id": "d1a1a1a1-0050"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-email-conf",
              "leftValue": "={{ $json.send_confirmation_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "name": "Email confirmation ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5632,
        272
      ],
      "id": "d1a1a1a1-0051"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailjet.com/v3.1/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic %%MAILJET_BASE64_AUTH%%"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email1_subject,TemplateID:7813996,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-conf-\"+$json.contact_id}]}) }}",
        "options": {}
      },
      "name": "Envoyer email confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5856,
        192
      ],
      "id": "d1a1a1a1-0052",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email1_subject, hs_email_text: (d.email1_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
        "options": {}
      },
      "name": "Logger email 1 CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6080,
        192
      ],
      "id": "d1a1a1a1-0053",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-email-offre",
              "leftValue": "={{ $json.send_offer_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "name": "Email offre ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6304,
        336
      ],
      "id": "d1a1a1a1-0054"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailjet.com/v3.1/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic %%MAILJET_BASE64_AUTH%%"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email2_subject,TemplateID:7813931,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-offre-\"+$json.contact_id}]}) }}",
        "options": {}
      },
      "name": "Envoyer email offre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6528,
        272
      ],
      "id": "d1a1a1a1-0055",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email2_subject, hs_email_text: (d.email2_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
        "options": {}
      },
      "name": "Logger email 2 CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        272
      ],
      "id": "d1a1a1a1-0056",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.hubapi.com/crm/v3/owners/' + $('Résoudre owner ID').first().json.owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "sig-0001-0001-4000-8000-000000000001",
      "name": "Récupérer owner HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5184,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Annuaire complémentaire des commerciaux (titre, company, phone)\nconst ANNUAIRE = {\n  '80222699': { title: 'Commercial Partenaires', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '51816547': { title: 'Commercial', company: \"Atelier des Experts\\u00a9\", phone: '01 23 45 67 89' },\n  '31958923': { title: 'Commercial', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '52585251': { title: 'Chargée de développement', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '80309654': { title: 'Chargée de développement', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' }\n};\n\nconst DEFAULT_INFO = {\n  title: 'Commercial',\n  company: \"Atelier des Experts\\u00a9\",\n  phone: '01 84 75 47 20'\n};\n\n// Données du flow\nconst prevData = $('Préparer emails').first().json;\nconst ownerResponse = $('Récupérer owner HubSpot').first().json;\nconst ownerBody = ownerResponse.body || ownerResponse;\n\nconst ownerId = $('Résoudre owner ID').first().json.owner_id || '';\nconst ownerFirstName = ownerBody.firstName || '';\nconst ownerLastName = ownerBody.lastName || '';\nconst ownerEmail = ownerBody.email || '';\nconst ownerName = `${ownerFirstName} ${ownerLastName}`.trim();\nconst ownerUserId = String(ownerBody.userId || '');\n\n// Récupérer le meeting link dynamiquement via l'API\nlet bookingUrl = '';\ntry {\n  const meetingLinksResponse = $('Lister meeting links').first().json;\n  const meetingLinks = (meetingLinksResponse.body && meetingLinksResponse.body.results) || meetingLinksResponse.results || [];\n  \n  // Matcher par organizerUserId (= HubSpot userId de l'owner)\n  // Prendre le lien PERSONAL_LINK (pas les liens spéciaux comme \"Renouvellement\")\n  const matched = meetingLinks.find(ml => \n    String(ml.organizerUserId) === ownerUserId && ml.type === 'PERSONAL_LINK'\n  );\n  if (matched) {\n    bookingUrl = matched.link || '';\n  }\n} catch(e) {\n  // Fallback si le nœud meeting links a échoué\n  bookingUrl = '';\n}\n\nif (!bookingUrl) {\n  bookingUrl = 'https://meetings-eu1.hubspot.com/atelier-des-experts';\n}\n\n// Fusionner HubSpot owner + annuaire complémentaire\nconst extra = ANNUAIRE[ownerId] || DEFAULT_INFO;\n\nconst sig = {\n  name: ownerName || \"L'Atelier des Experts\",\n  title: extra.title,\n  company: extra.company,\n  phone: extra.phone,\n  email: ownerEmail || 'contact@atelierdesexperts.fr',\n  website: 'atelierdesexperts.fr',\n  bookingUrl: bookingUrl\n};\n\n// Générer le HTML de signature (style Gmail)\nconst signatureHtml = `<div style=\"margin-top:24px;padding-top:16px;border-top:1px solid #dadce0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.5\">\n<b>${sig.name}</b><br>\n${sig.title} | ${sig.company}<br>\n${sig.phone}<br>\n<a href=\"mailto:${sig.email}\" style=\"color:#1a73e8;text-decoration:none\">${sig.email}</a><br>\n<a href=\"https://${sig.website}\" style=\"color:#1a73e8;text-decoration:none\">${sig.website}</a>\n</div>`;\n\n// Remplacer les placeholders %%...%% dans les emails\nfunction replacePlaceholders(text) {\n  return text\n    .replace(/%%COMMERCIAL_NAME%%/g, sig.name)\n    .replace(/%%COMMERCIAL_TITLE%%/g, sig.title)\n    .replace(/%%COMMERCIAL_COMPANY%%/g, sig.company)\n    .replace(/%%COMMERCIAL_PHONE%%/g, sig.phone)\n    .replace(/%%COMMERCIAL_EMAIL%%/g, sig.email)\n    .replace(/%%COMMERCIAL_WEBSITE%%/g, sig.website);\n}\n\nconst email1_html = replacePlaceholders(prevData.email1_html || '');\nconst email1_text = replacePlaceholders(prevData.email1_text || '');\nconst email2_html = replacePlaceholders(prevData.email2_html || '');\nconst email2_text = replacePlaceholders(prevData.email2_text || '');\n\n\n\n// Récupérer l'URL brochure directement (les branches sont synchronisées par le Merge)\nlet brochureUrl = '';\ntry {\n  brochureUrl = $('Résoudre URL brochure').first().json.brochure_url || '';\n} catch(e) { brochureUrl = ''; }\n\n// Helper: capitalize chaque mot (gère parenthèses, tirets)\nfunction capitalize(str) {\n  if (!str) return '';\n  // Nettoyer les \\n et espaces multiples\n  str = str.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n  return str.split(' ').map(w => {\n    if (!w) return '';\n    // Si le mot commence par ( ou - ou ', capitalize la lettre suivante\n    let prefix = '';\n    let rest = w;\n    while (rest.length > 0 && /[^a-zA-ZÀ-ÿ0-9]/.test(rest[0])) {\n      prefix += rest[0];\n      rest = rest.slice(1);\n    }\n    if (!rest) return prefix;\n    return prefix + rest.charAt(0).toUpperCase() + rest.slice(1).toLowerCase();\n  }).join(' ');\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    contact_firstname: capitalize(prevData.contact_firstname || ''),\n    company_name: capitalize(prevData.company_name || ''),\n    brochure: brochureUrl,\n    commercial_name: sig.name,\n    commercial_email: sig.email,\n    commercial_title: sig.title,\n    commercial_phone: sig.phone,\n    commercial_website: sig.website,\n    url_meeting: sig.bookingUrl,\n    signature_html: signatureHtml,\n    email1_html,\n    email1_text,\n    email2_html,\n    email2_text\n  }\n}];"
      },
      "id": "sig-0002-0002-4000-8000-000000000002",
      "name": "Générer signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        336
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hubapi.com/files/v3/files/search",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "parentFolderId",
              "value": "377821077726"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer %%HUBSPOT_PAT_TOKEN%%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        636
      ],
      "id": "brochure-list-node-01",
      "name": "Lister brochures HubSpot",
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Résoudre l'URL de brochure en fonction du champ offer_brochure\nconst offerBrochure = ($('Préparer les données').first().json.offer_brochure || '').toLowerCase();\nconst filesResponse = $('Lister brochures HubSpot').first().json;\n\n// Extraire la liste de fichiers depuis la réponse API HubSpot Files\nconst files = filesResponse.body?.results || filesResponse.results || [];\n\nlet brochureUrl = '';\n\nif (offerBrochure && files.length > 0) {\n  // Logique de matching : chercher dans les noms de fichiers\n  for (const file of files) {\n    const fileName = (file.name || '').toLowerCase();\n    \n    if (offerBrochure.includes('web') && fileName.includes('agence')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('staf') && fileName.includes('stafy')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('generique') && fileName.includes('generique')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('générique') && fileName.includes('generique')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n  }\n}\n\n// Fallback : si pas de match, on laisse vide\nreturn [{ json: { brochure_url: brochureUrl } }];",
        "options": {}
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        636
      ],
      "id": "brochure-resolve-node-01",
      "name": "Résoudre URL brochure"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hubapi.com/scheduler/v3/meetings/meeting-links",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer %%HUBSPOT_PAT_TOKEN%%"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        836
      ],
      "id": "meeting-links-node-01",
      "name": "Lister meeting links",
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberOfInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5208,
        336
      ],
      "id": "merge-wait-branches",
      "name": "Attendre branches"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-email-appel",
              "leftValue": "={{ $json.send_appel_sans_reponse }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6304,
        586
      ],
      "id": "if-appel-sans-reponse",
      "name": "Email appel sans réponse ?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailjet.com/v3.1/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic %%MAILJET_BASE64_AUTH%%"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email3_subject,TemplateID:7813996,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-appel-\"+$json.contact_id}]}) }}",
        "options": {}
      },
      "name": "Envoyer email appel sans réponse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6604,
        586
      ],
      "id": "send-appel-sans-reponse",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email3_subject, hs_email_text: (d.email3_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
        "options": {}
      },
      "name": "Logger email 3 CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6904,
        586
      ],
      "id": "logger-email-3-crm",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "u2JYQLBBKAkG4wic",
          "name": "Formaxe"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Decidento": {
      "main": [
        [
          {
            "node": "Préparer les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer les données": {
      "main": [
        [
          {
            "node": "Chercher owners HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lister brochures HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lister meeting links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher owners HubSpot": {
      "main": [
        [
          {
            "node": "Résoudre owner ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résoudre owner ID": {
      "main": [
        [
          {
            "node": "Chercher entreprise par SIREN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher entreprise par SIREN": {
      "main": [
        [
          {
            "node": "Entreprise existe ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entreprise existe ?": {
      "main": [
        [
          {
            "node": "ID entreprise existante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Créer entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID entreprise existante": {
      "main": [
        [
          {
            "node": "Fusionner company_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer entreprise": {
      "main": [
        [
          {
            "node": "ID nouvelle entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID nouvelle entreprise": {
      "main": [
        [
          {
            "node": "Fusionner company_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner company_id": {
      "main": [
        [
          {
            "node": "Chercher contact existant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chercher contact existant": {
      "main": [
        [
          {
            "node": "Contact existe ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact existe ?": {
      "main": [
        [
          {
            "node": "Mettre à jour contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Créer contact HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre à jour contact": {
      "main": [
        [
          {
            "node": "Fusionner contact_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer contact HubSpot": {
      "main": [
        [
          {
            "node": "Fusionner contact_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner contact_id": {
      "main": [
        [
          {
            "node": "Associer contact ↔ entreprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associer contact ↔ entreprise": {
      "main": [
        [
          {
            "node": "Créer Deal Prospection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Deal Prospection": {
      "main": [
        [
          {
            "node": "Notes présentes ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notes présentes ?": {
      "main": [
        [
          {
            "node": "Créer note HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tâche rappel ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer note HubSpot": {
      "main": [
        [
          {
            "node": "Tâche rappel ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tâche rappel ?": {
      "main": [
        [
          {
            "node": "Créer tâche rappel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RDV tâche ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RDV tâche ?": {
      "main": [
        [
          {
            "node": "Créer tâche RDV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Préparer emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer tâche RDV": {
      "main": [
        [
          {
            "node": "Préparer emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer emails": {
      "main": [
        [
          {
            "node": "Récupérer owner HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email confirmation ?": {
      "main": [
        [
          {
            "node": "Envoyer email confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email offre ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer email confirmation": {
      "main": [
        [
          {
            "node": "Logger email 1 CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger email 1 CRM": {
      "main": [
        [
          {
            "node": "Email offre ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email offre ?": {
      "main": [
        [
          {
            "node": "Envoyer email offre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Répondre succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer email offre": {
      "main": [
        [
          {
            "node": "Logger email 2 CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger email 2 CRM": {
      "main": [
        [
          {
            "node": "Répondre succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer owner HubSpot": {
      "main": [
        [
          {
            "node": "Attendre branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer signature": {
      "main": [
        [
          {
            "node": "Email confirmation ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email offre ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email appel sans réponse ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lister brochures HubSpot": {
      "main": [
        [
          {
            "node": "Résoudre URL brochure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résoudre URL brochure": {
      "main": [
        [
          {
            "node": "Attendre branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lister meeting links": {
      "main": [
        [
          {
            "node": "Attendre branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Attendre branches": {
      "main": [
        [
          {
            "node": "Générer signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer tâche rappel": {
      "main": [
        [
          {
            "node": "RDV tâche ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email appel sans réponse ?": {
      "main": [
        [
          {
            "node": "Envoyer email appel sans réponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Répondre succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer email appel sans réponse": {
      "main": [
        [
          {
            "node": "Logger email 3 CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger email 3 CRM": {
      "main": [
        [
          {
            "node": "Répondre succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "3RAntHwbH4vmj5o7",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ef3028f1-6e77-4510-b547-1e81d41325a2",
  "activeVersionId": "ef3028f1-6e77-4510-b547-1e81d41325a2",
  "versionCounter": 156,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T16:29:00.253Z",
    "createdAt": "2026-03-19T16:29:00.253Z",
    "versionId": "ef3028f1-6e77-4510-b547-1e81d41325a2",
    "workflowId": "slEyspRFX77Y31R4",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "decidento",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "d1a1a1a1-0001-4000-8000-000000000001",
        "name": "Webhook Decidento",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          336
        ],
        "webhookId": "100c15f6-3a8a-4d5f-9e70-b27011d1c1aa"
      },
      {
        "parameters": {
          "jsCode": "// Nettoyer le nom d'entreprise (retirer \\n et espaces multiples)\nfunction cleanStr(s) {\n  if (!s) return '';\n  return s.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst body = $input.first().json.body;\nconst contact = body.contact || {};\nconst company = body.company || {};\n\n// Utiliser firstname/lastname envoyés par l'extension (champs éditables)\nconst firstname = cleanStr(contact.firstname || '');\nconst lastname = cleanStr(contact.lastname || '');\n\nconst statusMap = {\n  'Message vocal laissé': 'message_vocal_laisse',\n  'Injoignable': 'injoignable',\n  'Rendez-vous pris': 'rendez_vous_pris',\n  'Ne plus rappeler': 'ne_plus_rappeler',\n  'Déjà appelé': 'deja_appele',\n  'Pas intéressé': 'pas_interesse',\n  'Déjà en partenariat': 'deja_en_partenariat',\n  'A raccroché': 'a_raccroche',\n  'Pas de besoin immédiat - rappel': 'pas_de_besoin_immediat_rappel'\n};\n\nconst stageMap = {\n  'Message vocal laissé': '4978411760',\n  'Injoignable': '4978411760',\n  'Rendez-vous pris': '4978411762',\n  'Ne plus rappeler': '4978411766',\n  'Déjà appelé': '4978411761',\n  'Pas intéressé': '4978411766',\n  'Déjà en partenariat': '4978411766',\n  'A raccroché': '4978411760',\n  'Pas de besoin immédiat - rappel': '4978411760'\n};\n\nfunction toSnakeCase(name) {\n  return (name || '').trim().toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '_').replace(/^_|_$/g, '');\n}\n\nreturn [{\n  json: {\n    contact_firstname: firstname,\n    contact_lastname: lastname,\n    contact_email: contact.email || '',\n    contact_phone: contact.phone || '',\n    contact_position: cleanStr(contact.position || ''),\n    contact_title_tag: contact.title_tag || '',\n    contact_linkedin: contact.linkedin_url || '',\n    contact_address: contact.address || '',\n    notes: body.notes || '',\n    company_name: cleanStr(company.name || ''),\n    company_address: company.address || '',\n    company_phone: company.phone || '',\n    company_website: company.website || '',\n    siren: company.siren || '',\n    siret: company.siret || '',\n    type_entreprise: company.type_entreprise || '',\n    effectif: company.effectif || '',\n    chiffre_affaires: company.chiffre_affaires || '',\n    capital_social: company.capital_social || '',\n    forme_juridique: company.forme_juridique || '',\n    numero_tva: company.numero_tva || '',\n    convention_collective: company.convention_collective || '',\n    status_raw: body.status || '',\n    status_enum: statusMap[body.status] || toSnakeCase(body.status),\n    pipeline_stage_id: stageMap[body.status] || '4978411759',\n    commercial_raw: body.commercial || '',\n    commercial_enum: toSnakeCase(body.commercial),\n    source_url: body.source_url || '',\n    timestamp: body.timestamp || new Date().toISOString(),\n    decidento_contact_id: body.decidento_contact_id || '',\n    rdv_date: body.rdv_date || '',\n    send_confirmation_email: body.send_confirmation_email || false,\n    send_offer_email: body.send_offer_email || false,\n    send_appel_sans_reponse: body.send_appel_sans_reponse || false,\n    email_template: body.email_template || '',\n    offer_brochure: body.offer_brochure || '',\n    rappel_date: body.rappel_date || '',\n    rappel_delai: body.rappel_delai || ''\n  }\n}];"
        },
        "id": "d1a1a1a1-0002-4000-8000-000000000002",
        "name": "Préparer les données",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          336
        ]
      },
      {
        "parameters": {
          "url": "https://api.hubapi.com/crm/v3/owners",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "100"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0012-4000-8000-000000000012",
        "name": "Chercher owners HubSpot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Résoudre le owner ID dynamiquement depuis la liste des owners HubSpot\nconst data = $('Préparer les données').first().json;\nconst ownersResponse = $('Chercher owners HubSpot').first().json;\nconst owners = (ownersResponse.body && ownersResponse.body.results) || [];\nconst commercialName = data.commercial_raw || '';\n\n// Chercher le owner par nom (prénom + nom)\nlet ownerId = '';\nif (commercialName) {\n  const normalizedSearch = commercialName.toLowerCase().trim();\n  const match = owners.find(o => {\n    const fullName = ((o.firstName || '') + ' ' + (o.lastName || '')).toLowerCase().trim();\n    return fullName === normalizedSearch;\n  });\n  if (match) {\n    ownerId = match.id || '';\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    owner_id: ownerId\n  }\n}];"
        },
        "id": "d1a1a1a1-0013-4000-8000-000000000013",
        "name": "Résoudre owner ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'siren', operator: 'EQ', value: $json.siren }] }], properties: ['name', 'siren'], limit: 1 }) }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0003-4000-8000-000000000003",
        "name": "Chercher entreprise par SIREN",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-total",
                "leftValue": "={{ $json.body.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "d1a1a1a1-0004-4000-8000-000000000004",
        "name": "Entreprise existe ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1376,
          336
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cid-existing",
                "name": "company_id",
                "value": "={{ $json.body.results[0].id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d1a1a1a1-0005-4000-8000-000000000005",
        "name": "ID entreprise existante",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1824,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Résoudre owner ID').item.json; const props = { name: d.company_name, phone: d.company_phone, website: d.company_website, address: d.company_address, siren: d.siren, siret_siege: d.siret, type_entreprise: d.type_entreprise, numero_tva: d.numero_tva, capital_social: d.capital_social, forme_juridique: d.forme_juridique, ca_decidento: d.chiffre_affaires, effectif_decidento: d.effectif, convention_collective: d.convention_collective, source_decidento_url: d.source_url }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0006-4000-8000-000000000006",
        "name": "Créer entreprise",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          432
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cid-new",
                "name": "company_id",
                "value": "={{ $json.body.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d1a1a1a1-0007-4000-8000-000000000007",
        "name": "ID nouvelle entreprise",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1824,
          432
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merge : récupérer le company_id quel que soit le chemin (existante ou nouvelle)\nconst data = $('Résoudre owner ID').first().json;\n\nlet companyId = '';\ntry { companyId = $('ID entreprise existante').first().json.company_id; } catch(e) {}\nif (!companyId) {\n  try { companyId = $('ID nouvelle entreprise').first().json.company_id; } catch(e) {}\n}\n\nreturn [{ json: { ...data, company_id: companyId } }];"
        },
        "id": "d1a1a1a1-0008-4000-8000-000000000008",
        "name": "Fusionner company_id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'decidento_contact_id', operator: 'EQ', value: $json.decidento_contact_id }] }], properties: ['firstname', 'lastname', 'decidento_contact_id', 'statut_prospection_decidento'], limit: 1 }) }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0020-4000-8000-000000000020",
        "name": "Chercher contact existant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2272,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-contact-total",
                "leftValue": "={{ $json.body.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "d1a1a1a1-0021-4000-8000-000000000021",
        "name": "Contact existe ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2496,
          336
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.body.results[0].id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Fusionner company_id').first().json; const props = { firstname: d.contact_firstname, lastname: d.contact_lastname, jobtitle: d.contact_position, address: d.contact_address, titre_decidento: d.contact_title_tag, statut_prospection_decidento: d.status_enum, commercial_decidento: d.commercial_enum, source_decidento_url: d.source_url, decidento_contact_id: d.decidento_contact_id }; if (d.contact_phone) props.phone = d.contact_phone; if (d.contact_linkedin) props.hs_linkedin_url = d.contact_linkedin; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0022-4000-8000-000000000022",
        "name": "Mettre à jour contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          240
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Fusionner company_id').first().json; const props = { firstname: d.contact_firstname, lastname: d.contact_lastname, jobtitle: d.contact_position, address: d.contact_address, titre_decidento: d.contact_title_tag, statut_prospection_decidento: d.status_enum, commercial_decidento: d.commercial_enum, source_decidento_url: d.source_url, decidento_contact_id: d.decidento_contact_id }; if (d.contact_email) props.email = d.contact_email; if (d.contact_phone) props.phone = d.contact_phone; if (d.contact_linkedin) props.hs_linkedin_url = d.contact_linkedin; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0023-4000-8000-000000000023",
        "name": "Créer contact HubSpot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          432
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Récupérer le contact_id quel que soit le chemin (update ou create)\nconst data = $('Fusionner company_id').first().json;\n\nlet contactId = '';\nlet action = '';\ntry {\n  contactId = $('Mettre à jour contact').first().json.body.id;\n  action = 'updated';\n} catch(e) {}\nif (!contactId) {\n  try {\n    contactId = $('Créer contact HubSpot').first().json.body.id;\n    action = 'created';\n  } catch(e) {}\n}\n\nreturn [{ json: { ...data, contact_id: contactId, contact_action: action } }];"
        },
        "id": "d1a1a1a1-0024-4000-8000-000000000024",
        "name": "Fusionner contact_id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2944,
          336
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ 'https://api.hubapi.com/crm/v4/objects/contacts/' + $json.contact_id + '/associations/companies/' + $json.company_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "[{\"associationCategory\": \"HUBSPOT_DEFINED\", \"associationTypeId\": 279}]",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0010-4000-8000-000000000010",
        "name": "Associer contact ↔ entreprise",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3168,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/deals",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const dealname = (d.contact_firstname + ' ' + d.contact_lastname).trim() + ' — ' + (d.company_name || ''); const props = { dealname: dealname, pipeline: '3625113819', dealstage: d.pipeline_stage_id || '4978411759' }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; const associations = []; if (d.contact_id) associations.push({ to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 3 }] }); if (d.company_id) associations.push({ to: { id: parseInt(d.company_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 341 }] }); return JSON.stringify({ properties: props, associations: associations }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0040-4000-8000-000000000040",
        "name": "Créer Deal Prospection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3392,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-notes",
                "leftValue": "={{ $('Fusionner contact_id').first().json.notes }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "d1a1a1a1-0030-4000-8000-000000000030",
        "name": "Notes présentes ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3616,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/notes",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const statusLabel = d.status_raw || ''; const commercial = d.commercial_raw || ''; const ts = d.timestamp ? new Date(d.timestamp).toLocaleString('fr-FR') : ''; const header = '📞 Appel Decidento — ' + statusLabel; const meta = []; if (commercial) meta.push('Commercial : ' + commercial); if (ts) meta.push('Date : ' + ts); const body = header + '\\n' + meta.join(' | ') + '\\n\\n' + d.notes; return JSON.stringify({ properties: { hs_note_body: body, hs_timestamp: d.timestamp || new Date().toISOString() }, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 202 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 214 }] }] }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0031-4000-8000-000000000031",
        "name": "Créer note HubSpot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3840,
          272
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-reminder-task",
                "leftValue": "={{ ['message_vocal_laisse', 'injoignable', 'pas_de_besoin_immediat_rappel'].includes($('Fusionner contact_id').first().json.status_enum) }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "d1a1a1a1-0041-4000-8000-000000000041",
        "name": "Tâche rappel ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4064,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/tasks",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => {\n  const d = $('Fusionner contact_id').first().json;\n  const isRappelProspect = d.status_enum === 'pas_de_besoin_immediat_rappel';\n  \n  // Calculer la date d'échéance\n  let dueDate;\n  if (isRappelProspect && d.rappel_date) {\n    dueDate = new Date(d.rappel_date + 'T09:00:00');\n  } else {\n    dueDate = new Date();\n    dueDate.setDate(dueDate.getDate() + 3);\n  }\n  \n  // Sujet de la tâche\n  const subject = isRappelProspect\n    ? 'Recontacter ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')'\n    : 'Rappeler ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')';\n  \n  // Corps contextuel\n  let body = '';\n  const dateAppel = new Date(d.timestamp).toLocaleDateString('fr-FR');\n  if (isRappelProspect) {\n    body = 'Prospect contacté le ' + dateAppel + ' — Statut : Pas de besoin immédiat.\\n';\n    body += 'Le prospect a indiqué ne pas avoir de besoin dans l\\'immédiat.\\n';\n    if (d.notes) body += '\\nNotes de l\\'appel :\\n' + d.notes + '\\n';\n    body += '\\nAction : Recontacter pour vérifier si un besoin s\\'est créé depuis.';\n    if (d.rappel_delai && d.rappel_delai !== 'custom') body += '\\nDélai prévu : ' + d.rappel_delai + ' mois.';\n  } else {\n    body = 'Rappel automatique suite au statut : ' + d.status_raw + '\\n';\n    body += 'Contact envoyé depuis Decidento le ' + dateAppel;\n    if (d.notes) body += '\\n\\nNotes : ' + d.notes;\n  }\n  \n  const props = {\n    hs_task_subject: subject,\n    hs_task_body: body,\n    hs_task_status: 'NOT_STARTED',\n    hs_task_priority: isRappelProspect ? 'HIGH' : 'MEDIUM',\n    hs_timestamp: dueDate.toISOString()\n  };\n  if (d.owner_id) props.hubspot_owner_id = d.owner_id;\n  \n  const associations = [\n    { to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }\n  ];\n  \n  try {\n    const dealId = $('Créer Deal Prospection').first().json.body.id;\n    if (dealId) associations.push({ to: { id: parseInt(dealId) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 216 }] });\n  } catch(e) {}\n  \n  return JSON.stringify({ properties: props, associations: associations });\n})() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0042-4000-8000-000000000042",
        "name": "Créer tâche rappel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4288,
          272
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-rdv-task",
                "leftValue": "={{ $('Fusionner contact_id').first().json.rdv_date }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "d1a1a1a1-0043-4000-8000-000000000043",
        "name": "RDV tâche ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4512,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/tasks",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Fusionner contact_id').first().json; const rdvDate = new Date(d.rdv_date); const props = { hs_task_subject: 'RDV avec ' + d.contact_firstname + ' ' + d.contact_lastname + ' (' + d.company_name + ')', hs_task_body: 'Rendez-vous planifié depuis Decidento\\nDate : ' + rdvDate.toLocaleString('fr-FR') + '\\nCommercial : ' + d.commercial_raw, hs_task_status: 'NOT_STARTED', hs_task_priority: 'HIGH', hs_timestamp: rdvDate.toISOString() }; if (d.owner_id) props.hubspot_owner_id = d.owner_id; return JSON.stringify({ properties: props, associations: [{ to: { id: parseInt(d.contact_id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 216 }] }] }); })() }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "d1a1a1a1-0044-4000-8000-000000000044",
        "name": "Créer tâche RDV",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4736,
          272
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, contact_id: $json.contact_id, company_name: $json.company_name, deal_created: true, emails_sent: { confirmation: $json.send_confirmation_email, offer: $json.send_offer_email } }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "d1a1a1a1-0011-4000-8000-000000000011",
        "name": "Répondre succès",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          6976,
          336
        ]
      },
      {
        "parameters": {
          "jsCode": "// Récupérer l'URL de brochure résolue\nlet brochureUrl = '';\ntry {\n  brochureUrl = $('Résoudre URL brochure').first().json.brochure_url || '';\n} catch(e) { brochureUrl = ''; }\n\nconst item = $('Fusionner contact_id').first().json;\nconst firstname = item.contact_firstname || '';\nconst companyName = item.company_name || '';\nconst contactEmail = item.contact_email || '';\nconst contactId = item.contact_id || '';\nconst rdvDate = item.rdv_date || '';\nconst sendConfirmation = item.send_confirmation_email === true || item.send_confirmation_email === 'true';\nconst sendOffer = item.send_offer_email === true || item.send_offer_email === 'true';\nconst sendAppelSansReponse = item.send_appel_sans_reponse === true || item.send_appel_sans_reponse === 'true';\n\n// Format RDV date in French\nlet rdvDateFormatted = '';\nif (rdvDate) {\n  try {\n    const d = new Date(rdvDate);\n    const jours = ['dimanche','lundi','mardi','mercredi','jeudi','vendredi','samedi'];\n    const mois = ['janvier','février','mars','avril','mai','juin','juillet','août','septembre','octobre','novembre','décembre'];\n    rdvDateFormatted = jours[d.getDay()] + ' ' + d.getDate() + ' ' + mois[d.getMonth()] + ' ' + d.getFullYear() + ' à ' + d.getHours().toString().padStart(2,'0') + 'h' + d.getMinutes().toString().padStart(2,'0');\n  } catch(e) { rdvDateFormatted = rdvDate; }\n}\n\nconst rdvLine = rdvDateFormatted ? '<p>Pour rappel, notre rendez-vous est prévu le <b>' + rdvDateFormatted + '</b>.</p>\\n' : '';\nconst rdvLineText = rdvDateFormatted ? '\\nPour rappel, notre rendez-vous est prévu le ' + rdvDateFormatted + '.\\n' : '';\n\nconst signaturePlaceholder = '<div style=\"margin-top:24px;padding-top:16px;border-top:1px solid #dadce0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.5\"><b>%%COMMERCIAL_NAME%%</b><br>%%COMMERCIAL_TITLE%% | %%COMMERCIAL_COMPANY%%<br>%%COMMERCIAL_PHONE%%<br><a href=\"mailto:%%COMMERCIAL_EMAIL%%\" style=\"color:#1a73e8;text-decoration:none\">%%COMMERCIAL_EMAIL%%</a><br><a href=\"https://%%COMMERCIAL_WEBSITE%%\" style=\"color:#1a73e8;text-decoration:none\">%%COMMERCIAL_WEBSITE%%</a></div>';\n\nconst brochureLink = brochureUrl\n  ? '<p>Je vous joins une brochure pour vous donner une vue d\\'ensemble de notre approche :<br><a href=\"' + brochureUrl + '\" style=\"color:#1a73e8;text-decoration:none\">Télécharger la brochure</a></p>'\n  : '';\nconst brochureLinkText = brochureUrl\n  ? '\\nBrochure : ' + brochureUrl\n  : '';\n\n// =============================================\n// Email 1: Confirmation RDV + Présentation\n// =============================================\nconst email1_subject = \"Suite à notre échange — L'Atelier des Experts\";\nconst email1_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>Encore merci pour votre temps et pour la prise de rendez-vous.</p>' + rdvLine + '<p>Pour vous présenter brièvement notre approche à L\\'Atelier des Experts, nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire, tout en apportant un vrai levier de valeur à leurs clients, grâce à la formation professionnelle 100\\u00a0% financée.</p><p>Voici ce que nous mettons en place pour vous :</p><p>– Une conseillère formation dédiée pour vous accompagner tout au long du partenariat<br>– Le montage complet des dossiers, sans charge administrative pour vos équipes<br>– Un service de renouvellement annuel pour proposer chaque année de nouvelles formations à vos clients<br>– Une solution simple, fluide et entièrement prise en main de notre côté</p>' + brochureLink + '<p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email1_text = 'Bonjour ' + firstname + ',\\n\\nEncore merci pour votre temps et pour la prise de rendez-vous.' + rdvLineText + '\\nPour vous présenter brièvement notre approche à L\\'Atelier des Experts, nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire, tout en apportant un vrai levier de valeur à leurs clients, grâce à la formation professionnelle 100% financée.\\n\\nVoici ce que nous mettons en place pour vous :\\n\\n– Une conseillère formation dédiée\\n– Le montage complet des dossiers\\n– Un renouvellement annuel\\n– Une solution simple et fluide' + brochureLinkText + '\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\n// =============================================\n// Email 2: Présentation de l'offre (standalone)\n// =============================================\nconst email2_subject = \"L'Atelier des Experts — Présentation de notre offre\";\nconst email2_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>Suite à notre récent échange, je souhaitais vous présenter plus en détail notre offre à L\\'Atelier des Experts.</p><p>Nous aidons les agences de communication à générer un chiffre d\\'affaires supplémentaire grâce à la formation professionnelle 100\\u00a0% financée.</p><p>Voici ce que nous mettons en place :</p><p>– Une conseillère formation dédiée<br>– Le montage complet des dossiers<br>– La prise en charge du financement OPCO<br>– Un renouvellement annuel automatique</p>' + brochureLink + '<p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email2_text = 'Bonjour ' + firstname + ',\\n\\nSuite à notre récent échange, je souhaitais vous présenter notre offre à L\\'Atelier des Experts.\\n\\nNous aidons les agences de communication à générer un CA supplémentaire grâce à la formation 100% financée.' + brochureLinkText + '\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\n// =============================================\n// Email 3: Appel sans réponse\n// =============================================\nconst email3_subject = \"J'ai tenté de vous joindre — L'Atelier des Experts\";\nconst email3_html = '<div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#222\"><p>Bonjour ' + firstname + ',</p><p>J\\'ai tenté de vous joindre ce jour par téléphone, malheureusement sans succès.</p><p>Je me permets de vous contacter car je souhaitais vous présenter <b>Stafy</b>, une solution développée par <b>L\\'Atelier des Experts</b> qui permet aux entreprises comme <b>' + companyName + '</b> de proposer à leurs clients des formations professionnelles 100\\u00a0% financées, tout en générant un chiffre d\\'affaires complémentaire.</p><p>En quelques mots, voici ce que nous mettons en place :</p><p>– Une conseillère formation dédiée pour accompagner vos clients de A à Z<br>– Le montage complet des dossiers de formation, sans charge pour vos équipes<br>– La prise en charge du financement auprès des OPCO<br>– Un renouvellement annuel pour fidéliser vos clients chaque année</p><p>Si le sujet vous intéresse, je serais ravi d\\'en discuter avec vous lors d\\'un court échange.<br><a href=\"%%BOOKING_URL%%\" style=\"color:#1a73e8;text-decoration:none\">Réserver un créneau</a></p><p>Bien cordialement,</p>' + signaturePlaceholder + '</div>';\nconst email3_text = 'Bonjour ' + firstname + ',\\n\\nJ\\'ai tenté de vous joindre ce jour par téléphone, malheureusement sans succès.\\n\\nJe me permets de vous contacter car je souhaitais vous présenter Stafy, une solution développée par L\\'Atelier des Experts qui permet aux entreprises comme ' + companyName + ' de proposer à leurs clients des formations 100% financées.\\n\\nEn quelques mots :\\n– Une conseillère formation dédiée\\n– Le montage complet des dossiers\\n– La prise en charge du financement OPCO\\n– Un renouvellement annuel\\n\\nRéserver un créneau : %%BOOKING_URL%%\\n\\nBien cordialement,\\n%%COMMERCIAL_NAME%%';\n\nreturn [{\n  json: {\n    ...item,\n    email1_subject, email1_html, email1_text,\n    email2_subject, email2_html, email2_text,\n    email3_subject, email3_html, email3_text,\n    send_confirmation_email: sendConfirmation,\n    send_offer_email: sendOffer,\n    send_appel_sans_reponse: sendAppelSansReponse,\n    contact_email: contactEmail,\n    contact_firstname: firstname,\n    contact_id: contactId\n  }\n}];"
        },
        "name": "Préparer emails",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4960,
          336
        ],
        "id": "d1a1a1a1-0050"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-email-conf",
                "leftValue": "={{ $json.send_confirmation_email }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "name": "Email confirmation ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5632,
          272
        ],
        "id": "d1a1a1a1-0051"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mailjet.com/v3.1/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic %%MAILJET_BASE64_AUTH%%"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email1_subject,TemplateID:7813996,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-conf-\"+$json.contact_id}]}) }}",
          "options": {}
        },
        "name": "Envoyer email confirmation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5856,
          192
        ],
        "id": "d1a1a1a1-0052",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email1_subject, hs_email_text: (d.email1_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
          "options": {}
        },
        "name": "Logger email 1 CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6080,
          192
        ],
        "id": "d1a1a1a1-0053",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "cond-email-offre",
                "leftValue": "={{ $json.send_offer_email }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "name": "Email offre ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          6304,
          336
        ],
        "id": "d1a1a1a1-0054"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mailjet.com/v3.1/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic %%MAILJET_BASE64_AUTH%%"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email2_subject,TemplateID:7813931,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-offre-\"+$json.contact_id}]}) }}",
          "options": {}
        },
        "name": "Envoyer email offre",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6528,
          272
        ],
        "id": "d1a1a1a1-0055",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email2_subject, hs_email_text: (d.email2_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
          "options": {}
        },
        "name": "Logger email 2 CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6752,
          272
        ],
        "id": "d1a1a1a1-0056",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.hubapi.com/crm/v3/owners/' + $('Résoudre owner ID').first().json.owner_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "sig-0001-0001-4000-8000-000000000001",
        "name": "Récupérer owner HubSpot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5184,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Annuaire complémentaire des commerciaux (titre, company, phone)\nconst ANNUAIRE = {\n  '80222699': { title: 'Commercial Partenaires', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '51816547': { title: 'Commercial', company: \"Atelier des Experts\\u00a9\", phone: '01 23 45 67 89' },\n  '31958923': { title: 'Commercial', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '52585251': { title: 'Chargée de développement', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' },\n  '80309654': { title: 'Chargée de développement', company: \"Atelier des Experts\\u00a9\", phone: '01 84 75 47 20' }\n};\n\nconst DEFAULT_INFO = {\n  title: 'Commercial',\n  company: \"Atelier des Experts\\u00a9\",\n  phone: '01 84 75 47 20'\n};\n\n// Données du flow\nconst prevData = $('Préparer emails').first().json;\nconst ownerResponse = $('Récupérer owner HubSpot').first().json;\nconst ownerBody = ownerResponse.body || ownerResponse;\n\nconst ownerId = $('Résoudre owner ID').first().json.owner_id || '';\nconst ownerFirstName = ownerBody.firstName || '';\nconst ownerLastName = ownerBody.lastName || '';\nconst ownerEmail = ownerBody.email || '';\nconst ownerName = `${ownerFirstName} ${ownerLastName}`.trim();\nconst ownerUserId = String(ownerBody.userId || '');\n\n// Récupérer le meeting link dynamiquement via l'API\nlet bookingUrl = '';\ntry {\n  const meetingLinksResponse = $('Lister meeting links').first().json;\n  const meetingLinks = (meetingLinksResponse.body && meetingLinksResponse.body.results) || meetingLinksResponse.results || [];\n  \n  // Matcher par organizerUserId (= HubSpot userId de l'owner)\n  // Prendre le lien PERSONAL_LINK (pas les liens spéciaux comme \"Renouvellement\")\n  const matched = meetingLinks.find(ml => \n    String(ml.organizerUserId) === ownerUserId && ml.type === 'PERSONAL_LINK'\n  );\n  if (matched) {\n    bookingUrl = matched.link || '';\n  }\n} catch(e) {\n  // Fallback si le nœud meeting links a échoué\n  bookingUrl = '';\n}\n\nif (!bookingUrl) {\n  bookingUrl = 'https://meetings-eu1.hubspot.com/atelier-des-experts';\n}\n\n// Fusionner HubSpot owner + annuaire complémentaire\nconst extra = ANNUAIRE[ownerId] || DEFAULT_INFO;\n\nconst sig = {\n  name: ownerName || \"L'Atelier des Experts\",\n  title: extra.title,\n  company: extra.company,\n  phone: extra.phone,\n  email: ownerEmail || 'contact@atelierdesexperts.fr',\n  website: 'atelierdesexperts.fr',\n  bookingUrl: bookingUrl\n};\n\n// Générer le HTML de signature (style Gmail)\nconst signatureHtml = `<div style=\"margin-top:24px;padding-top:16px;border-top:1px solid #dadce0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.5\">\n<b>${sig.name}</b><br>\n${sig.title} | ${sig.company}<br>\n${sig.phone}<br>\n<a href=\"mailto:${sig.email}\" style=\"color:#1a73e8;text-decoration:none\">${sig.email}</a><br>\n<a href=\"https://${sig.website}\" style=\"color:#1a73e8;text-decoration:none\">${sig.website}</a>\n</div>`;\n\n// Remplacer les placeholders %%...%% dans les emails\nfunction replacePlaceholders(text) {\n  return text\n    .replace(/%%COMMERCIAL_NAME%%/g, sig.name)\n    .replace(/%%COMMERCIAL_TITLE%%/g, sig.title)\n    .replace(/%%COMMERCIAL_COMPANY%%/g, sig.company)\n    .replace(/%%COMMERCIAL_PHONE%%/g, sig.phone)\n    .replace(/%%COMMERCIAL_EMAIL%%/g, sig.email)\n    .replace(/%%COMMERCIAL_WEBSITE%%/g, sig.website);\n}\n\nconst email1_html = replacePlaceholders(prevData.email1_html || '');\nconst email1_text = replacePlaceholders(prevData.email1_text || '');\nconst email2_html = replacePlaceholders(prevData.email2_html || '');\nconst email2_text = replacePlaceholders(prevData.email2_text || '');\n\n\n\n// Récupérer l'URL brochure directement (les branches sont synchronisées par le Merge)\nlet brochureUrl = '';\ntry {\n  brochureUrl = $('Résoudre URL brochure').first().json.brochure_url || '';\n} catch(e) { brochureUrl = ''; }\n\n// Helper: capitalize chaque mot (gère parenthèses, tirets)\nfunction capitalize(str) {\n  if (!str) return '';\n  // Nettoyer les \\n et espaces multiples\n  str = str.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n  return str.split(' ').map(w => {\n    if (!w) return '';\n    // Si le mot commence par ( ou - ou ', capitalize la lettre suivante\n    let prefix = '';\n    let rest = w;\n    while (rest.length > 0 && /[^a-zA-ZÀ-ÿ0-9]/.test(rest[0])) {\n      prefix += rest[0];\n      rest = rest.slice(1);\n    }\n    if (!rest) return prefix;\n    return prefix + rest.charAt(0).toUpperCase() + rest.slice(1).toLowerCase();\n  }).join(' ');\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    contact_firstname: capitalize(prevData.contact_firstname || ''),\n    company_name: capitalize(prevData.company_name || ''),\n    brochure: brochureUrl,\n    commercial_name: sig.name,\n    commercial_email: sig.email,\n    commercial_title: sig.title,\n    commercial_phone: sig.phone,\n    commercial_website: sig.website,\n    url_meeting: sig.bookingUrl,\n    signature_html: signatureHtml,\n    email1_html,\n    email1_text,\n    email2_html,\n    email2_text\n  }\n}];"
        },
        "id": "sig-0002-0002-4000-8000-000000000002",
        "name": "Générer signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5408,
          336
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.hubapi.com/files/v3/files/search",
          "authentication": "none",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "parentFolderId",
                "value": "377821077726"
              }
            ]
          },
          "options": {},
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer %%HUBSPOT_PAT_TOKEN%%"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          636
        ],
        "id": "brochure-list-node-01",
        "name": "Lister brochures HubSpot",
        "credentials": {},
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Résoudre l'URL de brochure en fonction du champ offer_brochure\nconst offerBrochure = ($('Préparer les données').first().json.offer_brochure || '').toLowerCase();\nconst filesResponse = $('Lister brochures HubSpot').first().json;\n\n// Extraire la liste de fichiers depuis la réponse API HubSpot Files\nconst files = filesResponse.body?.results || filesResponse.results || [];\n\nlet brochureUrl = '';\n\nif (offerBrochure && files.length > 0) {\n  // Logique de matching : chercher dans les noms de fichiers\n  for (const file of files) {\n    const fileName = (file.name || '').toLowerCase();\n    \n    if (offerBrochure.includes('web') && fileName.includes('agence')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('staf') && fileName.includes('stafy')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('generique') && fileName.includes('generique')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n    if (offerBrochure.includes('générique') && fileName.includes('generique')) {\n      brochureUrl = file.url || '';\n      break;\n    }\n  }\n}\n\n// Fallback : si pas de match, on laisse vide\nreturn [{ json: { brochure_url: brochureUrl } }];",
          "options": {}
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          636
        ],
        "id": "brochure-resolve-node-01",
        "name": "Résoudre URL brochure"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.hubapi.com/scheduler/v3/meetings/meeting-links",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer %%HUBSPOT_PAT_TOKEN%%"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          836
        ],
        "id": "meeting-links-node-01",
        "name": "Lister meeting links",
        "credentials": {},
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "append",
          "numberOfInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          5208,
          336
        ],
        "id": "merge-wait-branches",
        "name": "Attendre branches"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-email-appel",
                "leftValue": "={{ $json.send_appel_sans_reponse }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          6304,
          586
        ],
        "id": "if-appel-sans-reponse",
        "name": "Email appel sans réponse ?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mailjet.com/v3.1/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Basic %%MAILJET_BASE64_AUTH%%"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({Messages:[{From:{Email:\"contact@stafy.fr\",Name:$json.commercial_name},ReplyTo:{Email:$json.commercial_email,Name:$json.commercial_name},To:[{Email:$json.contact_email,Name:$json.contact_firstname+\" \"+($json.contact_lastname||\"\")}],Subject:$json.email3_subject,TemplateID:7813996,TemplateLanguage:true,Variables:{contact_firstname:($json.contact_firstname||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),company_name:($json.company_name||\"\").split(\" \").map(function(w){return w.charAt(0).toUpperCase()+w.slice(1).toLowerCase()}).join(\" \"),\"rendez-vous\":$json.rdv_date_formatted||\"\",commercial_name:$json.commercial_name,commercial_title:$json.commercial_title,commercial_phone:$json.commercial_phone,commercial_email:$json.commercial_email,commercial_website:$json.commercial_website,url_meeting:$json.url_meeting||\"\",brochure:$json.brochure||\"\"},CustomID:\"formaxe-appel-\"+$json.contact_id}]}) }}",
          "options": {}
        },
        "name": "Envoyer email appel sans réponse",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6604,
          586
        ],
        "id": "send-appel-sans-reponse",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const d = $('Générer signature').first().json; return JSON.stringify({ properties: { hs_email_direction: \"EMAIL\", hs_email_status: \"SENT\", hs_email_subject: d.email3_subject, hs_email_text: (d.email3_text || \"\").substring(0, 65535), hs_timestamp: new Date().toISOString()}, associations: [{ to: { id: d.contact_id }, types: [{ associationCategory: \"HUBSPOT_DEFINED\", associationTypeId: 198 }] }, { to: { id: parseInt($('Créer Deal Prospection').first().json.body.id) }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 186 }] }] }); })() }}",
          "options": {}
        },
        "name": "Logger email 3 CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6904,
          586
        ],
        "id": "logger-email-3-crm",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "u2JYQLBBKAkG4wic",
            "name": "Formaxe"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook Decidento": {
        "main": [
          [
            {
              "node": "Préparer les données",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Préparer les données": {
        "main": [
          [
            {
              "node": "Chercher owners HubSpot",
              "type": "main",
              "index": 0
            },
            {
              "node": "Lister brochures HubSpot",
              "type": "main",
              "index": 0
            },
            {
              "node": "Lister meeting links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chercher owners HubSpot": {
        "main": [
          [
            {
              "node": "Résoudre owner ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Résoudre owner ID": {
        "main": [
          [
            {
              "node": "Chercher entreprise par SIREN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chercher entreprise par SIREN": {
        "main": [
          [
            {
              "node": "Entreprise existe ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Entreprise existe ?": {
        "main": [
          [
            {
              "node": "ID entreprise existante",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Créer entreprise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ID entreprise existante": {
        "main": [
          [
            {
              "node": "Fusionner company_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer entreprise": {
        "main": [
          [
            {
              "node": "ID nouvelle entreprise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ID nouvelle entreprise": {
        "main": [
          [
            {
              "node": "Fusionner company_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fusionner company_id": {
        "main": [
          [
            {
              "node": "Chercher contact existant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chercher contact existant": {
        "main": [
          [
            {
              "node": "Contact existe ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contact existe ?": {
        "main": [
          [
            {
              "node": "Mettre à jour contact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Créer contact HubSpot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mettre à jour contact": {
        "main": [
          [
            {
              "node": "Fusionner contact_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer contact HubSpot": {
        "main": [
          [
            {
              "node": "Fusionner contact_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fusionner contact_id": {
        "main": [
          [
            {
              "node": "Associer contact ↔ entreprise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Associer contact ↔ entreprise": {
        "main": [
          [
            {
              "node": "Créer Deal Prospection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer Deal Prospection": {
        "main": [
          [
            {
              "node": "Notes présentes ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notes présentes ?": {
        "main": [
          [
            {
              "node": "Créer note HubSpot",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Tâche rappel ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer note HubSpot": {
        "main": [
          [
            {
              "node": "Tâche rappel ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tâche rappel ?": {
        "main": [
          [
            {
              "node": "Créer tâche rappel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "RDV tâche ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RDV tâche ?": {
        "main": [
          [
            {
              "node": "Créer tâche RDV",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Préparer emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer tâche RDV": {
        "main": [
          [
            {
              "node": "Préparer emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Préparer emails": {
        "main": [
          [
            {
              "node": "Récupérer owner HubSpot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email confirmation ?": {
        "main": [
          [
            {
              "node": "Envoyer email confirmation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email offre ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envoyer email confirmation": {
        "main": [
          [
            {
              "node": "Logger email 1 CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Logger email 1 CRM": {
        "main": [
          [
            {
              "node": "Email offre ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email offre ?": {
        "main": [
          [
            {
              "node": "Envoyer email offre",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Répondre succès",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envoyer email offre": {
        "main": [
          [
            {
              "node": "Logger email 2 CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Logger email 2 CRM": {
        "main": [
          [
            {
              "node": "Répondre succès",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Récupérer owner HubSpot": {
        "main": [
          [
            {
              "node": "Attendre branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Générer signature": {
        "main": [
          [
            {
              "node": "Email confirmation ?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Email offre ?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Email appel sans réponse ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lister brochures HubSpot": {
        "main": [
          [
            {
              "node": "Résoudre URL brochure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Résoudre URL brochure": {
        "main": [
          [
            {
              "node": "Attendre branches",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Lister meeting links": {
        "main": [
          [
            {
              "node": "Attendre branches",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Attendre branches": {
        "main": [
          [
            {
              "node": "Générer signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer tâche rappel": {
        "main": [
          [
            {
              "node": "RDV tâche ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email appel sans réponse ?": {
        "main": [
          [
            {
              "node": "Envoyer email appel sans réponse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Répondre succès",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envoyer email appel sans réponse": {
        "main": [
          [
            {
              "node": "Logger email 3 CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Logger email 3 CRM": {
        "main": [
          [
            {
              "node": "Répondre succès",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Baptiste  C",
    "name": null,
    "description": null,
    "autosaved": false
  }
}